@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.intro {
    display: flex;
    position: relative;
    background-color: white;
    height: 100vh;
    background-image: linear-gradient(60deg, #7865c9, #916BBF, #c196cc);
    background-size: 600% 600%;
    animation: bgAnimatedGradient 6s infinite linear;
}
.intro-second{
    display: flex;
    position: relative;
    background-color: white;
    height: auto;
    background-image: linear-gradient(60deg, #7865c9, #916BBF, #c196cc);
    background-size: 600% 600%;
    animation: bgAnimatedGradient 6s infinite linear;
    padding-bottom: 120px;
}

@keyframes bgAnimatedGradient{
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0 85%;
    }
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images .blob{
    width: 110%;
    height: 115%;
}
.images .lester{
    left: 60%;
}
.images:hover .blob{
    bottom: 20px;
}
.images:hover .lester{
    left: 49%;
}

.about-content{
    color: #fff;
    margin-left: 80px;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
}

.top{
    margin-left: -40px;
    font-size: 3rem;
    font-weight: 700;
    color: #1F1D36;
}

.about-content h2{
    font-size: 1.75rem;
    font-weight: 600;
}

.about-content .highlight{
    color: #1F1D36;
}
.tab{
    color: #fff;
    margin-left: 50px;
}
#first-section{
    margin-top: 50px;
    line-height: 1.55;
}
#second-section{
    margin-top: 0;
    line-height: 1.55;
}
.footer{
    height: 80px;
    background-color: #2f2b55;
}
